/* modal.module.css */
@keyframes revealingIn {
    0% {
        transform: scaleY(0.01) scaleX(0);
    }
    50% {
        transform: scaleY(0.01) scaleX(1);
    }
    100% {
        transform: scaleY(1) scaleX(1);
    }
}

@keyframes revealingOut {
    0% {
        transform: scaleY(1) scaleX(1);
    }
    50% {
        transform: scaleY(0.01) scaleX(1);
    }
    100% {
        transform: scaleY(0.01) scaleX(0);
    }
}

.modalContainer {
    position: fixed;
    display: table;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    animation: revealingIn 0.8s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
    z-index: 1000;
}

.modalContainerClosing {
    position: fixed;
    display: table;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    animation: revealingOut 0.8s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
    z-index: 1000;
}

.modalBackground {
    display: table-cell;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    vertical-align: middle;
}

.modal {
    background: white;
    padding: 30px;
    display: inline-block;
    border-radius: 8px;
    font-weight: 300;
    position: relative;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.closeButton:focus {
    outline: none;
}

.closeButton:hover {
    color: red;
}
