.mapContainer {
    width: 100%;
    height: 80vh;
    margin-bottom: 10px;
}

.checkboxContainer {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

.toiletTypeCheckbox {
    font-size: 14px;
    padding-left: 20px;
}
